@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@section featured {

}

<div id="home_content">
    <table width="100%">
        <tr>
            <td align="right"><img src="../Images/whistle.png" alt="whistle" /></td>
            <td align="left"><h3>Workout Plans</h3></td>
        </tr>
        <tr>
            <td></td>
            <td align="center">
                @Html.ActionLink("+ Add new plan", "AddNewWorkoutPlan", "Workout", null, new { @class = "add_WO_btn" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="id_list">

                    <h2>Plan Id</h2>
                    <ul>
                        @foreach (int item in ViewBag.listOfWorkOutPlanIDs)
                        {

                            @Html.Raw("<li>" + @Html.ActionLink(item.ToString(), "ViewWorkOutPlan", "Workout", new { @id = item }, null) + "</li>");
                            // @Html.Raw("<li>" + @Html.ActionLink(item.ToString(), "ViewWorkOutPlan", "Workout") + "</li>");
                        }
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    

    

    <!-- TODO - Populate with list of workouts that were created. -->



</div>
