@model WorkoutPlanObjects.WorkoutSetObject


<tr>
    <td>
        @Html.DisplayFor(j => Model.OrderID).&nbsp;
    </td>
    <td align="left">
        @Html.DisplayFor(j => Model.Repeats) X @Html.DisplayFor(j => Model.Distance) &nbsp;&nbsp;&nbsp;

        @Html.DisplayFor(j => Model.Stroke)
        &nbsp;on&nbsp;
        @Html.DisplayFor(j => Model.Pace) &nbsp;&nbsp;&nbsp;
        (@Html.DisplayFor(j => Model.Description) )
        &nbsp;&nbsp;&nbsp;
        @Html.DisplayFor(j => Model.EnergyGroupAmount)
        &nbsp;
        @Html.DisplayFor(j => Model.EnergyGroupName)
        &nbsp;
        @Html.DisplayFor(j => Model.Duration)
    </td>
    <td >
        <input type="button" value="Edit Set" class="editBtn" data-div="set_div" onclick="document.getElementsByName('parentId')[0].value=@Model.ParentID" />
    </td>
</tr>