@model IEnumerable<WorkoutPlanObjects.WorkoutSetObject>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <table class="plan_table">
        <!-- TO-DO: format the tables and sets accordingly to its type   -->
        @foreach (var plan_item in Model.OrderBy(i=>i.OrderID).ToList())
        {
            <tr>
                 <td>
                      @Html.DisplayFor(item => plan_item.OrderID). &nbsp;
                 </td>
                 <td style="width:80%">
                     @Html.DisplayFor(item=>plan_item.Description)  {
                 </td>
                 <td align="right">
                     <input type="button" value="Edit Section" class="editBtn" data-div="section_div" onclick="editSectionBtnClicked('@plan_item.OrderID')" />
                 </td>
             </tr>
            Session["indent"] = 0;
            Session["indent"] = (int)Session["indent"] + 1;

            foreach (var section_item in plan_item.SubSetList)
            {

                if (section_item.SetType.ToString().Equals("Set"))
                {
                    @Html.Partial("_WorkoutSet", section_item)

                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(j => section_item.OrderID). &nbsp;
                        </td>
                        <td style="width:80%">
                            @for (int i = 0; i < (int)Session["indent"]; i++ )
                            {
                                @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                            }
                            @Html.DisplayFor(j => section_item.Repeats) X {
                        </td>
                        <td align="right">
                            <input type="button"
                                   value="Edit Group"
                                   class="editBtn"
                                   data-div="group_div"
                                   data-orderid="@section_item.OrderID"
                                   data-parentid="@section_item.ParentID"
                                   data-repeats="@section_item.Repeats" 
                                   onclick="editGroupBtnClicked(@section_item.OrderID,@section_item.ParentID,@section_item.Repeats)" />
                        </td>
                    </tr>
                    Session["indent"] = (int)Session["indent"] + 1;        
                        @Html.Partial("_WorkoutGroup", section_item.SubSetList)
                    Session["indent"] = (int)Session["indent"] - 1;

                    <tr>
                        <td></td>
                        <td>
                            @for (int i = 0; i < (int)Session["indent"]; i++)
                            {
                                @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;")
                            }
                        }</td>
                        <td></td>
                    </tr>
                }

            }
            Session["indent"] = (int)Session["indent"] - 1;
            <tr>
                <td></td>
                <td>} <br /><br /></td>
                <td></td>
            </tr>

        }


    </table>


