@model IEnumerable<WorkoutPlanObjects.WorkoutSetObject>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <table style="width:100%">
        <!-- TO-DO: format the tables and sets accordingly to its type   -->
        @foreach (var item in Model)
        {
            if (item.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Section)
            {
             <tr>
                 <td>
                     @Html.DisplayFor(i=>item.OrderID)
                 </td>
                 <td style="width:80%">
                     @Html.DisplayFor(i => item.Description)
                 </td>
                 <td>
                     <input type="button" value="Edit Section" class="editBtn" data-div="section_div" />
                 </td>
             </tr>
                
                foreach (var item1 in item.SubSetList)
                {
                    if (item1.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Set)
                    {
                        <tr>
                            <td>@Html.DisplayFor(i=>item1.OrderID)</td>
                            <td>@Html.DisplayFor(i => item1.Repeats)</td>
                            <td>@Html.DisplayFor(i => item1.Distance)</td>
                            <td>@Html.DisplayFor(i => item1.Stroke)</td>
                            @if (item1.Pace =="")
	                            {
                                <td>@Html.DisplayFor(i => item1.Rest)</td>
                                }
                            else
                            {
                                <td>@Html.DisplayFor(i => item1.Pace)</td>
                            }
                            
                            <td>@Html.DisplayFor(i => item1.Duration)</td>
                            <td>@Html.DisplayFor(i => item1.EnergyGroupName)</td>
                            <td>@Html.DisplayFor(i => item1.Description)</td>
                        </tr>
                    }
                    else if (item1.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Group)
                    {
                        <tr>
                            <td>@Html.DisplayFor(i => item1.OrderID)</td>
                            <td style="padding-left:2em;  width:80%" >
                                @Html.DisplayFor(i => item1.Repeats) x [
                            </td>
                            <td>
                                <input type="button" value="Edit" id="editGroup" />
                            </td>
                        </tr>

                        foreach (var item2 in item1.SubSetList)
                        {
                            if (item2.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Set)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(i => item2.OrderID)</td>
                                    <td>@Html.DisplayFor(i => item2.Repeats)</td>
                                    <td>@Html.DisplayFor(i => item2.Distance)</td>
                                    <td>@Html.DisplayFor(i => item2.Stroke)</td>
                                    @if (item2.Pace == "")
                                    {
                                        <td>@Html.DisplayFor(i => item2.Rest)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(i => item2.Pace)</td>
                                    }

                                    <td>@Html.DisplayFor(i => item2.Duration)</td>
                                    <td>@Html.DisplayFor(i => item2.EnergyGroupName)</td>
                                    <td>@Html.DisplayFor(i => item2.Description)</td>
                                </tr>
                            }
                            else if (item2.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Group)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(i => item2.OrderID)</td>
                                    <td style="padding-left:2em;  width:80%">
                                        @Html.DisplayFor(i => item2.Repeats) x [
                                    </td>
                                    <td>
                                        <input type="button" value="Edit" id="editGroup" />
                                    </td>
                                </tr>

                                foreach (var item3 in item2.SubSetList)
                                {
                                    if (item3.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Set)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item3.OrderID)</td>
                                            <td>@Html.DisplayFor(i => item3.Repeats)</td>
                                            <td>@Html.DisplayFor(i => item3.Distance)</td>
                                            <td>@Html.DisplayFor(i => item3.Stroke)</td>
                                            @if (item2.Pace == "")
                                            {
                                                <td>@Html.DisplayFor(i => item3.Rest)</td>
                                            }
                                            else
                                            {
                                                <td>@Html.DisplayFor(i => item3.Pace)</td>
                                            }

                                            <td>@Html.DisplayFor(i => item3.Duration)</td>
                                            <td>@Html.DisplayFor(i => item3.EnergyGroupName)</td>
                                            <td>@Html.DisplayFor(i => item3.Description)</td>
                                        </tr>
                                    }
                                    else if (item3.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Group)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item3.OrderID)</td>
                                            <td style="padding-left:2em;  width:80%">
                                                @Html.DisplayFor(i => item3.Repeats) x [
                                            </td>
                                            <td>
                                                <input type="button" value="Edit" id="editGroup" />
                                            </td>
                                        </tr>

                                    }
                                }

                            }

                        }
                    }

                }

            }

        }
            else if (item.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Group)
            {
                <tr>
                    <td>@Html.DisplayFor(i=>item.OrderID)</td>
                    <td style="width:80%">
                        @Html.DisplayFor(i => item.Repeats)
                    </td>
                    <td>
                        <input type="button" value="Edit" id="editGroup" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:2em">[</td>
                </tr>
            }
            else if (item.SetType == WorkoutPlanObjects.EnumWorkoutSetType.Set)
            {

            }
            else
            {

            }



        }


    </table>


    <!--<table class="workoutSetTable">

    #{var count = 0;}
    foreach (var item in Model)
    {
        <tr>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.Repeats, null, "WorkoutSet[" + count + "].Repeats")
            </td>
            <td class="workoutSetCell label">
                <p>X</p>
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.WorkoutSetDistance, null, "WorkoutSet[" + count + "].WorkoutSetDistance")
            </td>
            <td class="workoutSetCell label">
                <p>m</p>
            </td>
            <td class="workoutSetCell blankspace">
            </td>
            <td class="workoutSetCell select ">
               #Html.DropDownListFor(model => item.Stroke.ID, new SelectList((List<WorkoutPlanObjects.WorkoutStroke>)Session["strokes"], "ID", "Name", item.Stroke.ID), new { #Name = "WorkoutSet[" + count + "].Stroke.ID" })
            </td>
            <td class="workoutSetCell label">
                <h4>[</h4>
            </td>
            <td class="workoutSetCell text" >
                #Html.TextBoxFor(modelItem => item.Description, new { #Name = "WorkoutSet[" + count + "].Description", #Placeholder = "Description" })
            </td>
            <td class="workoutSetCell label">
                <h4>]</h4>
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.PaceTime, null, "WorkoutSet[" + count + "].PaceTime")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.RestPeriod, null, "WorkoutSet[" + count + "].RestPeriod")
            </td>
            <td class="workoutSetCell blankspace"></td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.E1, null, "WorkoutSet[" + count + "].E1")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.E2, null, "WorkoutSet[" + count + "].E2")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.E3, null, "WorkoutSet[" + count + "].E3")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.S1, null, "WorkoutSet[" + count + "].S1")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.S2, null, "WorkoutSet[" + count + "].S2")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.S3, null, "WorkoutSet[" + count + "].S3")
            </td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.REC, null, "WorkoutSet[" + count + "].REC")
            </td>
            <td class="workoutSetCell blankspace"></td>
            <td class="number workoutSetCell">
                #Html.EditorFor(modelItem => item.SingleDuration, null, "WorkoutSet[" + count + "].SingleDuration")
            </td>
            <td class="workoutSetCell">
                <input type="submit" value="delete" name="command" onclick="document.getElementsByName('Id')[0].value = #item.OrderNum"/>
                <!--Ajax.ActionLink("Delete",
                                "deleteSet",
                                 new { index = item.OrderNum },
                                 new AjaxOptions()
                                 {
                                     HttpMethod = "POST",
                                     InsertionMode = InsertionMode.Replace,
                                     UpdateTargetId = "setsDiv"
                                 },
                                 new { id = "deleteSetLink"}
                                 )
                #Html.HiddenFor(model => item.ID, new { #Name = "WorkoutSet[" + count + "].ID" })
                #Html.HiddenFor(model => item.OrderNum, new { #Name = "WorkoutSet[" + count + "].OrderNum" })
            </td>


        </tr>
        count++;
    }
</table>

<h4>Total Duration : Model.Sum(a => a.Distance) minutes</h4><br/>-->
