@model IEnumerable<WorkoutPlanObjects.WorkoutSet>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @{var count = 0;}
    @foreach (var item in Model)
    {


    @Html.HiddenFor(model => item.ID, new {@Name= "WorkoutSet[" + count + "].ID" })
    <div>
        @Html.HiddenFor(model => item.OrderNum,new {@Name="WorkoutSet[" + count + "].OrderNum"})
    </div>
    <div class="workoutRepeats workoutSetCell">
        @Html.EditorFor(modelItem => item.Repeats, null, "WorkoutSet[" + count + "].Repeats")
    </div>
    <div class="workoutSetCell">
        X
    </div>
    <div class="workoutSetCell">
        @Html.EditorFor(modelItem => item.WorkoutSetDistance, null, "WorkoutSet[" + count + "].WorkoutSetDistance")
    </div>
    <div class="workoutSetCell">
        m
    </div>
    <div class="workoutSetCell blankspace">
        &nbsp;&nbsp;&nbsp;
    </div>
    <div class="workoutSetCell">
        <!--Html.HiddenFor(model => item.Stroke.ID, new { Name = "WorkoutSet[" + count + "].Stroke.ID" })-->
        <select id="strokeSelect" name="strokeSelect">

            <!--foreach (WorkoutPlanObjects.WorkoutStroke stroke in (List<WorkoutPlanObjects.WorkoutStroke>)Session["strokes"])
            {
                <option value="stroke.ID">
                        if (item.Stroke.ID == stroke.ID) { Html.Raw("selected")    }
                   stroke.Name
                </option>
            }-->
        </select>
    </div>
    <div class="workoutSetCell">
        <h4>[</h4>
    </div>
    <div class="workoutSetCell">
        @Html.TextBoxFor(modelItem => item.Description, new{ @Name="WorkoutSet[" + count + "].Description",@Placeholder="Description"} )
    </div>
    <div class="workoutSetCell">
        <h4>]</h4>
    </div>
    <div class="workoutSetCell">
        @Html.EditorFor(modelItem => item.PaceTime, null, "WorkoutSet[" + count + "].PaceTime")
    </div>
    <div class="workoutSetCell">
        @Html.EditorFor(modelItem => item.SingleDuration, null, "WorkoutSet[" + count + "].SingleDuration")
    </div>
    <div class="workoutSetCell">
        @Ajax.ActionLink("Delete",
        "deleteSet",
        new { index = item.OrderNum },
        new AjaxOptions()
        {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "setsDiv"
        },
        new { id = "deleteSetLink" }
        )
    </div>

    count++;
    }

