@model IEnumerable<WorkoutPlanObjects.WorkoutSetObject>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <table class="plan_table">
        <!-- TO-DO: format the tables and sets accordingly to its type   -->
        @foreach (var plan_item in Model)
        {
            <tr>
                 <td>
                      @Html.DisplayFor(item=>plan_item.OrderID)
                 </td>
                 <td style="width:80%">
                     @Html.DisplayFor(item=>plan_item.Description) {
                 </td>
                 <td align="right">
                     <input type="button" value="Edit Section" class="editBtn" data-div="section" data-orderid="@plan_item.OrderID" data-parentid="@plan_item.ParentID" onclick="editSectionBtnClicked('@plan_item.OrderID')" />
                 </td>
             </tr>

            ViewBag.indent++;
            foreach (var section_item in plan_item.SubSetList)
            {

                if (section_item.SetType.ToString().Equals("Set"))
                {
                    @Html.Partial("_WorkoutSet", section_item)

                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(j => section_item.OrderID)
                        </td>
                        <td style="width:80%">                            
                            @for (int i = 0; i < ViewBag.indent; i++)
                            {
                                @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;");
                            }
                            @Html.DisplayFor(j => section_item.Repeats) X {
                        </td>
                        <td align="right">
                            <input type="button" value="Edit Group" class="editBtn" data-div="group" data-orderid="@section_item.OrderID" data-parentid="@section_item.ParentID" onclick="editGroupBtnClicked(@section_item.OrderID,@section_item.ParentID)" />
                        </td>
                    </tr>
                    ViewBag.indent++;
                    @Html.Partial("_WorkoutGroup", section_item.SubSetList)
                    ViewBag.indent--;
                    <tr>
                        <td></td>
                        <td>                            
                        @for (int i = 0; i < ViewBag.indent; i++)
                            {
                                @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;");
                            }
                        }</td>
                        <td></td>
                    </tr>
                }

            }
            ViewBag.indent--;
            <tr>
                <td></td>
                <td>}<br /><br /></td>
                <td></td>
            </tr>

        }


    </table>


