@model IEnumerable<WorkoutPlanObjects.WorkoutSetObject>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <table class="plan_table">
        <!-- TO-DO: format the tables and sets accordingly to its type   -->
        @foreach (var plan_item in Model)
        {
            <tr>
                 <td>
                     @Html.DisplayFor(item=>plan_item.OrderID)
                 </td>
                 <td style="width:80%">
                     @Html.DisplayFor(item=>plan_item.Description)
                 </td>
                 <td align="right">
                     <input type="button" value="Edit Section" class="editBtn" data-div="section_div" />
                 </td>
             </tr>
            <tr>
                <td colspan="3" align="right">
                    <table class="section" width="95%">
                        @foreach (var section_item in plan_item.SubSetList)
                        {

                            if (section_item.SetType.ToString().Equals("Set"))
                            {
                                @Html.Partial("_WorkoutSet", section_item)

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(j => section_item.OrderID)
                                    </td>
                                    <td style="width:95%">
                                        @Html.DisplayFor(j => section_item.Description)
                                        @Html.DisplayFor(j => section_item.SetType)
                                    </td>
                                    <td align="right">
                                        <input type="button" value="Edit Group" class="editBtn" data-div="group_div" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="right">
                                       @Html.Partial("_WorkoutGroup", section_item.SubSetList)
                                    </td>
                                </tr>
                            }

                        }
                    </table>
                </td>

            </tr>

        }


    </table>

